---
import { onMount } from 'solid-js';
import { client } from '../lib/crystallize';

// let products = null;

// onMount(async () => {
    
// });
const response = await client.catalogueApi(
    `
    query ($language: String!, $path: String!, $version: VersionLabel!) {
        catalogue(path: $path, language: $language, version: $version) {
        children {
            id
            name
            path
            ... on Product {
            variants {
                name
                sku
                isDefault
                firstImage {
                  url
                  key
                  caption {
                        plainText
                    }
                }
                images {
                    variants {
                        url
                        key
                    }
                    caption {
                        plainText
                    }
                }
                stock
                price
                productId
                priceVariants {
                    identifier
                    price
                }
                stockLocations {
                    identifier
                    stock
                }
                attributes {
                    attribute
                    value
                }
            }
        }
        }
    }
    }
    `,
    {
    language: "en",
    path: "/dresses",
    version: 'published',
    }
);
const products = response.catalogue;
console.log(products.children);
---

<html>
    <head>
        <title>{products ? products.name : 'Loading...'}</title>
    </head>
    <body>
        {products ? (
            <div>
                <h1>{products.name}</h1>
                <ul>
                    {products.children.map((product) => (
                    <li key={product.id}>
                        <a href={`/products/${product.path}`}></a>
                        <h2>{product.name}</h2>
                        <img src={product.variants[0].firstImage.url} alt={product.name} />
                        <p>{product.variants[0].price} USD</p>
                        <a href={product.path}>View product</a>
                    </li>
                    ))}
                </ul>
                {/* <p>{product.description}</p>
                <img src={product.defaultVariant.firstImage.url} alt={product.name} />
                <p>Price: {product.defaultVariant.price} {product.defaultVariant.currency}</p> */}
            </div>
        ) : (
            <p>Loading product...</p>
        )}
    </body>
</html>
<!-- 
<HTML>
    <head>
      <title>Products</title>
    </head>
    <body>
      <h1>Products</h1>
      <ul>
        {products.map((product) => (
          <li key={product.id}>
            <h2>{product.name}</h2>
            <a href={product.path}>View product</a>
          </li>
        ))}
      </ul>
    </body>
  </html> -->